In [1]:
import os
import sys
import importlib

In [2]:
module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
import src.popcorn as popcorn

In [4]:
popcorn_helper = popcorn.PopcornHelper(root_directory=module_path)

In [5]:
train_raw, test_raw = popcorn_helper.load_raw_data()

In [6]:
train_raw.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [7]:
test_raw.head()

         id                                             review
0  12311_10  Naturally in a film who's main themes are of m...
1    8348_2  This movie is a disaster within a disaster fil...
2    5828_4  All in all, this is a movie for kids. We saw i...
3    7186_2  Afraid of the Dark left me with the impression...
4   12128_7  A very accurate depiction of small time mob li...

In [8]:
sentence_list_clean = popcorn_helper.clean_dtset(train_raw.head(), sentence_col_name="review")

In [9]:
corpora_dict = popcorn_helper.build_save_dictionary(sentence_list_clean)

In [15]:
sentence_list_clean2 = popcorn_helper.clean_dtset(test_raw.head(), sentence_col_name="review")

In [16]:
import numpy as np

In [27]:
importlib.reload(popcorn)
popcorn_helper = popcorn.PopcornHelper(root_directory=module_path)

In [29]:
np.array(popcorn_helper.doc_2_ids(sentence_list_clean2, corpora_dict))

array([ list([294, 51, -1, 621, -1, -1, -1, 65, -1, -1, 189, -1, -1, -1, -1, 100, 274, -1, -1, 51, -1, 165, -1, -1, -1, 22, 261, -1, 592, -1, 294, -1, 575, -1, -1, -1, -1, -1, -1, 535, -1, -1, -1, 638, -1, -1, 294, -1, -1, 344, -1, 51, -1, 82, 616, -1, -1, 525, 335, -1, -1, 83, -1, -1, -1, -1, 140, -1, -1, -1, -1, -1]),
       list([93, 396, -1, 396, 51, 261, 175, -1, 328, -1, -1, 6, 462, -1, 74, 121, -1, -1, -1, -1, -1, -1, 385, -1, -1, -1, -1, -1, -1, 409, -1, 74, 1, -1, 100, 327, 135, -1, 0, -1, -1, 15, 15, 530, -1, -1, -1, 133, -1, 83, 51, -1, -1, 0, 266, -1, 214, 415, -1, -1, 452, 601, 369, 133, -1, -1, -1, 153, 93, 126, -1, 180, 6, 77, 626, -1, -1, 72, 160, 146, 180, 6, -1, 623, -1, -1]),
       list([93, 70, -1, -1, -1, -1, 100, -1, 70, 254, 175, -1, -1, 274, 175, 48, -1, 158, 131, -1, -1, -1, 8, -1, -1, -1, 22, 51, 131, 333, -1, -1, 121, -1, 83, 93, 344, -1, -1, -1, -1, -1, 355, 173, -1, -1, -1, -1, -1, 22, 495, 266, 114, -1, -1, 94, 274, -1, -1, 103, 524, -1, 15, 15, 344, 12, -1, -1, -1, -1, -1, 153, 58, 121, 254, -1, 15, 15, 77, -1, -1]),
       list([-1, -1, -1, 64, 603, 34, -1, -1, -1, 49, 179, 51, 474, -1, -1, -1, 15, 15, -1, -1, -1, -1, 415, -1, -1, -1, 22, -1, 15, 15, -1, -1, 391, -1, 289, -1, 100, -1, 461, 82, -1, -1, -1, -1, -1, -1, 145, 121, 298, -1, 595, 22, 391, -1, 559]),
       list([-1, -1, 335, 623, -1, 559, 51, -1, -1, 344, 22, 601, -1, -1, -1, -1, 476, -1, 146, 401, -1, -1, 476, 530, 350, -1, -1, 201, 15, 15, -1, -1, -1, 126, 224, 134, 138, 134, -1, 58, -1, -1, 563, -1, -1, -1, -1, 266, -1, 165, -1, 15, 15, 51, -1, 69, -1, -1, -1, 2, -1, -1, -1, -1, 61, -1, -1, -1, -1, 144, 473, -1, 292, -1, -1, 175, 344])], dtype=object)

In [23]:
import pandas as pd
import numpy as np

In [28]:
popcorn_helper.dump_cleaned_data(sentence_list_clean)